@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
  background-color: #eee;
}

textarea {
  font-size: 0.75em;
  margin-right: 0%;
  min-width: 47%;
  max-width: 47%;
  float: left;
  border: 1px solid lightgray;
  border-radius: 3px;
}

#output {
  font-family: 'Open Sans', sans-serif;
  color: #444;
  min-width: 47%;
  max-width: 47%;
  margin-top: 0px;
  padding: 0% 1% 1% 1%;
  float: right;
}
#output p, #output ul, #output ol {
  font-size: 0.75em;
  margin: 0.6em 0 0.6em 0;
}
#output code {
  font-size: 1.35em;
  background-color: white;
}
#output h1, #output h2, #output h3, #output h4, #output h5, #output h6 {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}
#output th, #output td {
  border: 1px solid gray;
}
